<section>

    <div class="container mt-1"></div>
    <div class="row">
        <div class="col-md-6">
         
            <h2 class="text-center">Add Product</h2>
            <form action="/admin/add-product" class="ml-4" enctype="multipart/form-data"  method="POST">
  <div class="form-group">
    <label for="formGroupExampleInput">Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Category</label>
    <input type="text" name="category" class="form-control">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Price</label>
    <input type="text" name="price" class="form-control">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Description</label>
    <input type="text" name="descriptio" class="form-control">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Image</label>
    <input type="file" name="Image" class="form-control">
  </div>
  
    <button type="submit" class='btn btn-success mt-0'>submit</button>
  
</form>
</center>
        </div>
    </div>
    
</section>