    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="container mt-5 pl-5"></div>
            <h2 class="text-center">Login</h2>
            <form>
                <div class="form-group"></div>
                <label for="email">Email Address</label>
                <input type="text" name="email" placeholder="Email" class="form-control">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Password" class="form-control"><br>
                <a href="/signup" class="float-right">Create account</a><br>
                <button type="submit" class="btn btn-success">SUBMIT</button>
            </form>
        </div>
    </div>
</div>

